.my-grid {
  display: grid;
  grid-template-columns: 5fr 100fr;
  grid-template-rows: auto 1000px;
}

.has-blue-background {
  background-color: #A7DDFF;
  border: 1px solid #721EE3
}

.has-yellow-background {
  background-color: #FAF7A7;
  border: 1px solid #e38C1e
}